In [5]:
import pandas as pd

In [154]:
# input_file_name: name of txt file to parse
# input_location: location of the input_file_name
# output_file_name: to save the file with which name
# output_location: output location to save the file.

def parse_file(input_file_name, input_location, output_file_name, output_location):
    
    try:
        url=f"{input_location}/{input_file_name}.txt"

        #Step 1
        # reading the given text file and creating dataframe
        data = pd.read_csv(url, delimiter = '|')

        #Step2
        #creating flag column that contain "FEE CHG"
        data['Flag']=data['Description'].str.split(',').str[0].where(data['Description'].str.split(',').str[0]=='FEE CHG')

        #Step3
        # creating temporary column that have AEPS value
        temp =data['Description'].str.split(',').str[1].str.split().str[0]

        #Step4
        #combining Flag and Temp column and storing the result in Flag Column only
        # This Column Will have 'FEE CHG' and 'AEPS' other value as NaN
        data['Flag'] = data['Flag'].combine(temp, lambda x1, x2: x2 if x2=='AEPS' else x1)

        #step 5
        # Copy Col E (Description) to Col J (name as Desctiption_Copy)
        data['Description_Copy']= data['Description'].copy()

        #step 6
        # Delimit Col J using “/”
        data['Description_Copy'] = data['Description_Copy'].str.split('/').str[0:1].apply(lambda x: ', '.join(map(str,x)))

        #Steps 7
        # remaning data
        data['other_data'] = data['Description'].str.split('/').str[1]

        # Step 8
        # Saving File to output_location with output_file_name
        output = f"{output_location}/{output_file_name}.xlsx"
        data.to_excel(output,index = None)
        
        return "File Created Successfully..."
    
    except Exception as exc:

        return exc

In [155]:
result =parse_file('input', r'C:\Users\rkoth\Desktop\test', 'output', r'C:\Users\rkoth\Desktop\test')

In [156]:
#########
# Result
#########
print(result)

File Created Successfully...

#######################################################################
# Running Each and Every Line of Function
#######################################################################

In [138]:
# reading the given text file and creating dataframe
data = pd.read_csv("input.txt", delimiter = '|')

In [139]:
data.head()

,Accont Number,System Processing Date,Transaction Effective Date,Branch Code,Description,Debits,Credits,Ending Balance
0,20013038332,17/04/2022,17/04/2022,9001,"IMPS OUT,IMPS/210701000145",4999.0,NaN,29543722.92
1,20013038332,17/04/2022,17/04/2022,9001,"FEE CHG,IMPS Charges/210701000145",50.0,NaN,29543672.92
2,20013038332,17/04/2022,17/04/2022,9001,"DEPOSIT,AEPS Cash Withdrawal/ORIENTAL BANK OF...",NaN,100.0,29543772.92
3,20013038332,17/04/2022,17/04/2022,9001,"WTHDRL,IMPS/210701000166",1.0,NaN,29543771.92
4,20013038332,17/04/2022,17/04/2022,9001,"FEE CHG,Bene Verification Charges/210701000166",1.0,NaN,29543770.92

# flag the transactions that contain “FEE CHG”

In [151]:
data['Flag']=data['Description'].str.split(',').str[0].where(data['Description'].str.split(',').str[0]=='FEE CHG')

In [152]:
data['Flag']

0         NaN
1     FEE CHG
2         NaN
3         NaN
4     FEE CHG
5         NaN
6     FEE CHG
7         NaN
8     FEE CHG
9         NaN
10    FEE CHG
11        NaN
12    FEE CHG
13        NaN
14    FEE CHG
15        NaN
16    FEE CHG
17        NaN
18    FEE CHG
19        NaN
Name: Flag, dtype: object

# flag the transactions that contain “AEPS”

In [142]:
temp =data['Description'].str.split(',').str[1].str.split().str[0]

In [143]:
temp

0     IMPS/210701000145
1                  IMPS
2                  AEPS
3     IMPS/210701000166
4                  Bene
5     IMPS/210701000167
6                  IMPS
7     IMPS/210701000168
8                  IMPS
9     IMPS/210701000266
10                 Bene
11    IMPS/210705000019
12                 IMPS
13    IMPS/210705000021
14                 IMPS
15    IMPS/210705000022
16                 IMPS
17    IMPS/210705000024
18                 IMPS
19                 AEPS
Name: Description, dtype: object

# Combining 'FEE CHG' and 'AEPS' other value as NaN

In [144]:
data['Flag'] = data['Flag'].combine(temp, lambda x1, x2: x2 if x2=='AEPS' else x1)

In [145]:
data['Flag']

0         NaN
1     FEE CHG
2        AEPS
3         NaN
4     FEE CHG
5         NaN
6     FEE CHG
7         NaN
8     FEE CHG
9         NaN
10    FEE CHG
11        NaN
12    FEE CHG
13        NaN
14    FEE CHG
15        NaN
16    FEE CHG
17        NaN
18    FEE CHG
19       AEPS
Name: Flag, dtype: object

# Copy Col E (Description) to Col J

In [146]:
data['Description_Copy']= data['Description'].copy()

# Delimit Col J using “/”

In [147]:
data['Description_Copy'] = data['Description_Copy'].str.split('/').str[0:1].apply(lambda x: ', '.join(map(str,x)))

In [148]:
data['Description_Copy']

0                         IMPS OUT,IMPS
1                  FEE CHG,IMPS Charges
2          DEPOSIT,AEPS Cash Withdrawal
3                           WTHDRL,IMPS
4     FEE CHG,Bene Verification Charges
5                         IMPS OUT,IMPS
6                  FEE CHG,IMPS Charges
7                         IMPS OUT,IMPS
8                  FEE CHG,IMPS Charges
9                           WTHDRL,IMPS
10    FEE CHG,Bene Verification Charges
11                        IMPS OUT,IMPS
12                 FEE CHG,IMPS Charges
13                        IMPS OUT,IMPS
14                 FEE CHG,IMPS Charges
15                        IMPS OUT,IMPS
16                 FEE CHG,IMPS Charges
17                        IMPS OUT,IMPS
18                 FEE CHG,IMPS Charges
19         DEPOSIT,AEPS Cash Withdrawal
Name: Description_Copy, dtype: object

In [149]:
data['other_data'] = data['Description'].str.split('/').str[1]

In [150]:
data['other_data']

0                   210701000145
1                   210701000145
2      ORIENTAL BANK OF COMMERCE
3                   210701000166
4                   210701000166
5                   210701000167
6                   210701000167
7                   210701000168
8                   210701000168
9                   210701000266
10                  210701000266
11                  210705000019
12                  210705000019
13                  210705000021
14                  210705000021
15                  210705000022
16                  210705000022
17                  210705000024
18                  210705000024
19    BANGIYA GRAMIN VIKASH BANK
Name: other_data, dtype: object